/** reset some defaults **/
body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a,
a:visited {
    text-decoration: none;
}

/* helper classes */
.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.half {
    flex: 1;
    width: calc(50% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 900px) {
    .half {
        width: calc(100% - 20px);
    }
}

.third {
    width: calc(33.33% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.fifth {
    width: calc(20% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}


.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pseudo-hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.underline {
    z-index: 5;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30%;
    opacity: 0.4;
    background: var(--color-top);
    z-index: -1;
}

@media (max-width: 500px) {

    /**
     * Underline gets broken on mobile,
     * so better disable it.
     */
    .underline::after {
        display: none;
    }
}

.dark,
.block.dark {
    background-color: var(--bg-color-dark);
}


.button {
    cursor: pointer;
    background-color: var(--color-top);
    border-radius: 8px;
    min-width: 3rem;
    font-size: 1rem;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-right: 20px;

    color: white;
    font-weight: bold;
    user-select: none;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;

    will-change: box-shadow text-decoration transform;
    transition: all .15s ease-in-out;
}

.button a {
    text-decoration: none;
}

.button:hover {
    box-shadow: 2px 2px 13px #ca007c, -2px -1px 14px #ff009e;
}


b {
    color: var(--color-top);
}

h2 {
    font-size: var(--fontSizes-6xl);
}

p {
    line-height: 150%;
}

p {
    font-size: var(--fontSizes-xl);
}

p a {
    color: var(--color-top);
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

ul.checked li {
    margin-bottom: 34px;
}

ul.checked li {
    list-style: none;
}

ul.checked li {
    font-size: var(--fontSizes-xl);
}

ul.checked li:before {
    content: '✓ ';
    font-size: 40px;
    display: block;
    float: left;
    padding-right: 10px;
    margin-top: -11px;
}


body {
    background-color: var(--bg-color);

    /** font **/
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    z-index: 10;
    background-color: var(--bg-color);
    position: fixed;
    display: block;
    height: 60px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

header a {
    text-decoration: none;
    color: #a0aec0;
}

header a:hover {
    color: white;
}

header .logo {
    float: left;
}

header .logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
    will-change: transform;
    transition: 150ms ease-in-out;
}

header a:hover .logo {
    transform: scale(1.1);
}


header .text {
    padding-top: 20px;
    float: left;
    padding-right: 15px;
}

header .logo .text {
    font-size: var(--fontSizes-xl);
    padding-top: 18px;
    color: white;
}

header .logo img {
    float: left;
}

.header-space {
    width: 100%;
    height: calc(var(--space-between-blocks) + 110px);
}



.content {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1350px) {
    .content {
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (max-width: 800px) {
    .content {
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }
}



.device {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.device .beating-color {
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    background-color: #e6008d;
}

.device.tablet {
    width: 200px;
    height: 200px;
    background-image: url(../files/smartphone/tablet_white.svg);
}

.device.tablet .beating-color {
    width: 65.4%;
    height: 76.2%;
    margin-top: 7.8%;
    margin-left: 17.4%;
    border-radius: 4px;
}


.device.tablet .beating.logo {
    width: 36%;
    margin-left: 32%;
    margin-top: 43px;
}

.device.desktop {
    width: 350px;
    height: 350px;
    margin-left: 152px;
    background-image: url(../files/smartphone/desktop_white.svg);
}

.device.desktop .beating-color {
    width: 91.4%;
    height: 44.2%;
    margin-top: 10.8%;
    margin-left: 4.4%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.device.desktop .beating.logo {
    width: 22%;
    margin-left: 39%;
    margin-top: 28px;
}

.device.server {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    background-image: url(../files/smartphone/server_white.svg);
}

.device.server .beating-color {
    width: 18.4%;
    height: 19.2%;
    margin-top: 7.5%;
    margin-left: 9%;
    margin-bottom: 6%;
    border-radius: 50%;
}



.block {
    width: 100%;
    min-height: 450px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--bg-color);
    position: relative;
}
















.block.first {
    padding-bottom: 120px;
    padding-top: 50px;
}

.block.first .content {}


.block.first .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.block.first .inner h2 {
    padding-left: 25px;
}

.block.first img {
    width: 60%;
    margin: 35px;
}

@media (max-width: 900px) {
    .block.first {
        padding-top: 0px;

    }

    .block.first .inner {
        width: 89%;
        flex-direction: column-reverse;
    }

    .block.first img {
        max-height: 200px;
    }

}



.block.second .inner {
    margin-top: 70px;
    display: flex;
}

.block.second .content-canvas {
    width: 100%;
    height: 100%;
    transform: scale(1);
}

@media (max-width: 1400px) {
    .block.second .content-canvas {
        width: 90%;
        transform: scale(0.8);
    }
}

@media (max-width: 1300px) {
    .block.second .content-canvas {
        width: 90%;
        transform: scale(0.7);
    }
}

@media (max-width: 1150px) {
    .block.second .content-canvas {
        width: 90%;
        transform: scale(0.6);
    }
}

@media (max-width: 1050px) {
    .block.second .content-canvas {
        width: 65%;
        transform: scale(0.5);
    }
}

@media (max-width: 1000px) {
    .block.second .content-canvas {
        width: 50%;
        margin-left: 5%;
        transform: scale(0.5);
    }
}

@media (max-width: 900px) {
    .block.second .content-canvas {
        height: 200px;
        width: 0%;
    }

    .block.second .inner {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .block.second .content-canvas {
        height: 200px;
        margin-left: 0%;
        width: 0%;
    }
}




.block.replication .replication-icons {
    height: 515px;
    width: 90%;
    margin-left: 10%;
    margin-top: 0px;
    position: relative;
}

@media (max-width: 900px) {
    .block.replication .replication-icons {
        margin-left: 5%;
    }
}


.block.replication .replicate-logo {
    position: absolute;
    width: 120px;
    margin-left: 50%;
    left: -60px;
    top: 50%;
    margin-top: -75px;
}

.block.replication .replicate-graphql {
    position: absolute;
    margin-top: 8%;
    margin-left: 10%;
}

@media (max-width: 500px) {
    .block.replication .replicate-graphql {
        margin-left: 0%;
    }
}


.block.replication .replicate-couchdb {
    position: absolute;
    left: 90%;
    margin-left: -130px;
    margin-top: 8%;
}

@media (max-width: 500px) {
    .block.replication .replicate-couchdb {
        left: 100%;
    }
}


.block.replication .replicate-rest {
    position: absolute;
    margin-top: -70px;
    top: 83%;
    margin-left: 20%;
    left: -35px;
    text-align: center;
}

.block.replication .replicate-websocket {
    position: absolute;
    margin-top: -70px;
    top: 93%;
    margin-left: 50%;
    left: -35px;
    text-align: center;
}

.block.replication .replicate-p2p {
    position: absolute;
    margin-top: -70px;
    top: 83%;

    left: 80%;
    margin-left: -35px;

    text-align: center;
}

.block.replication img.protocol {
    width: 80px;
}



.block.offline-first {
    position: relative;
    overflow: hidden;
}

.block.offline-first .offline-image-wrapper {
    position: absolute;
    transform: rotate(77deg);
    width: 1500px;
    margin-left: -750px;
    left: 46%;
    top: -12%;
}

@media (max-width: 900px) {
    .block.offline-first .offline-image-wrapper {
        transform: rotate(110deg);
        width: 1200px;
        margin-left: -600px;
    }
}

@media (max-width: 500px) {
    .block.offline-first .offline-image-wrapper {
        transform: rotate(110deg);
        width: 600px;
        margin-left: -300px;
        top: 10%;
    }
}

.block.offline-first .offline-image {
    width: 100%;
    height: 100%;
    transform-origin: center bottom;
}

.block.offline-first .content {
    position: relative;
}

.block.offline-first ul {}

@media (max-width: 600px) {
    .block.offline-first ul {
        padding-left: 0px;
    }
}





.block.frameworks {
    padding-bottom: 20px;
}

.block.frameworks .content {
    position: relative;
}

.block.frameworks .circle {
    font-size: 85%;
    position: absolute;
}

.block.frameworks .circle img {
    height: 46%;
    padding-bottom: 3px;
}

.block.frameworks .neumorphism-circle-s {
    margin-left: -35px;
}

.block.frameworks .neumorphism-circle-m {
    margin-left: -47.5px;
}

.block.frameworks .below-text {
    display: block;
    width: 100%;
    position: relative;
    min-height: 200px;
}




.block.fifth .inner {
    width: 624px;
}

@media (max-width: 624px) {
    .block.fifth .inner {
        width: 100%;
    }
}


.block.fifth .box {
    background-color: var(--bg-color-dark);
}

.block.fifth.dark .box {
    background-color: var(--bg-color);
}

.block.fifth .box {
    border-radius: 0.75rem;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    float: left;
    width: calc(50% - 40px - 32px);
    margin-right: 20px;
    margin-top: 20px;
}

@media (max-width: 590px) {
    .block.fifth .box {
        width: calc(100% - 40px - 32px);
    }
}


.block.fifth .box img {
    width: 20px;
    padding-right: 10px;
    float: left;
}

.block.fifth .box a {
    text-decoration: none;
}

.block.fifth .box a:hover {
    text-decoration: underline;
}

.block.fifth .box .label {
    margin-top: 2px;
    float: left;
}

.block.fifth .box .value {
    color: var(--color-top);
    font-weight: bold;
    float: right;
    margin-inline-end: 0px;
    right: 0px;
}


.block.sixth h2 {
    text-align: center;
}

.block.sixth .buy-options {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 10px;
    row-gap: 1em;
}


.block.sixth .buy-option {
    border-radius: 6px;

    padding: 3px;
}


.block.sixth .buy-option-inner {
    min-height: 490px;
    background-color: var(--bg-color-dark);
    padding: 10px;
    border-radius: 4px;
    position: relative;

    color: white;
}

/* IPAD has 820px width, so we use 819px here */
@media (max-width: 819px) {
    .block.sixth .buy-options {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .block.sixth .buy-option-inner {
        min-height: 425px;
    }
}



.block.sixth .buy-option-inner h2 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    height: 50px;
}

.block.sixth .buy-option-title {
    padding-bottom: 35px;
}

.block.sixth .buy-option-inner .price {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
}

.block.sixth .buy-option-features {
    width: 90%;
    margin-left: 5%;
}

.block.sixth .buy-option-features p {
    font-size: 1em;
}

.block.sixth .buy-option-action {
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    bottom: 8px;

    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;

    border-radius: 6px;

    padding-top: 15px;
    padding-bottom: 15px;

    cursor: pointer;
    color: white;

}

.block.sixth .buy-option-features {
    padding-bottom: 20px;
    font-size: 1em;
}

.block.sixth .buy-option-features li {
    padding-bottom: 10px;
}

.block.sixth a {
    color: white;
}







.block.last {
    padding-bottom: 0px;
}

.block.last h2 {
    text-align: center;
}

.block.last .buttons {
    margin-top: 90px;
    position: relative;
    height: 500px;
}

.block.last .buttons .button {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.block.last .button.get-premium {
    padding: 10px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 10px;
    font-size: 37px;

}



/**
 * NEUMORPHISM STUFF
 * Generate circles shaddows: https://neumorphism.io/#1a202c
 */
.neumorphism-circle-xl {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    font-size: 85%;

    color: white;
    background: var(--bg-color);

    box-shadow: 5px 5px 10px #161c26,
        -5px -5px 10px #1e2432;
}

.neumorphism-circle-m {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    font-size: 85%;

    color: white;
    background: var(--bg-color);

    box-shadow: 5px 5px 10px #171c26,
        -5px -5px 10px #1d2432;
}

.dark .neumorphism-circle-m {
    background: var(--bg-color-dark);
    box-shadow: 5px 5px 10px #14161e,
        -5px -5px 10px #1a1c28;
}

.neumorphism-circle-s {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 85%;

    color: white;
    background: var(--bg-color);

    box-shadow: 3px 3px 6px #151a24,
        -3px -3px 6px #1f2634;
}

.dark .neumorphism-circle-s {
    background: var(--bg-color--dark);
    box-shadow: 3px 3px 6px #13151d,
        -3px -3px 6px #1b1e29;

}

.neumorphism-circle-xs {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 85%;

    color: white;
    background: var(--bg-color);

    box-shadow: 5px 5px 7px #171c26,
        -5px -5px 7px #1d2432;
}

.bg-top {
    background-color: var(--color-top);
}

.bg-middle {
    background-color: var(--color-middle);
}

.bg-bottom {
    background-color: var(--color-bottom);
}

.hover-shaddow-top:hover {
    box-shadow: 2px 2px 10px var(--color-top), -2px -1px 10px var(--color-top);
}

.hover-shaddow-middle:hover {
    box-shadow: 2px 2px 10px var(--color-middle), -2px -1px 10px var(--color-middle);
}

.hover-shaddow-bottom:hover {
    box-shadow: 2px 2px 10px var(--color-bottom), -2px -1px 10px var(--color-bottom);
}



.bg-gradient-right-bottom {
    background: linear-gradient(to right bottom, var(--color-top), var(--color-middle), var(--color-bottom));
}

.bg-gradient-left-bottom {
    background: linear-gradient(to left bottom, var(--color-top), var(--color-middle), var(--color-bottom));
}

.bg-gradient-right-top {
    background: linear-gradient(to right top, var(--color-top), var(--color-middle), var(--color-bottom));
}

.bg-gradient-left-top {
    background: linear-gradient(to left top, var(--color-top), var(--color-middle), var(--color-bottom));
}

.bg-gradient-top {
    background: linear-gradient(to top, var(--color-top), var(--color-middle), var(--color-bottom));
}



.star-at-github {
    float: right;
    padding: 3px;
    border-radius: 40px;
    margin-top: 8px;

    transition: all .2s ease-in-out;
}

.star-at-github:hover {
    transform: scale(1.1);
}

.star-at-github .star-at-github-inner {
    background-color: var(--bg-color);
    padding: 8px;
    border-radius: 40px;
}

.star-at-github .star-at-github-inner img {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 6px;
    width: 17px;
}

.star-at-github .star-at-github-text {
    display: inline;
    margin-top: 2px;
    float: right;
}

@media (max-width: 460px) {
    .star-at-github {
        display: none;
    }
}

/*
 * ANIMATION STUFF
 */

.tilt-to-mouse {
    will-change: transform;
}

.enlarge-on-mouse {
    will-change: transform;
}

/*
 * Every element with this class
 * is made beating via javascript
 */
.beating.animation {
    will-change: transform;
    transform-origin: center center;
    animation: animateHeartbeat;
}

.beating-first.animation {
    will-change: transform;
    transform-origin: center center;
    animation: animateOnFirstHeartbeat;
}

.beating-second.animation {
    will-change: transform;
    transform-origin: center center;
    animation: animateOnSecondHeartbeat;
}

.beating-color {
    will-change: background-color;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #e6008d;
}



.code {
    text-align: center;
}

.samp-wrapper {
    background-color: var(--bg-color--dark);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 12px;
    display: inline-block;
    background-color: var(--bg-color);
    text-align: left;
    width: calc(100% - 26px);
}

@media (max-width: 830px) {
    .samp-wrapper {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .samp-wrapper {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .samp-wrapper {
        width: 93%;
    }
}

.samp-wrapper legend {
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
}

samp {
    font-family: 'Courier New', monospace;
    line-height: 157%;
}

samp .beating-color {
    color: white !important;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    border-radius: 5px;
}

samp .cm-keyword {
    color: #c678dd;
}

samp .cm-variable {
    color: #e5c07b;
}

samp .cm-property {
    color: #e06c75;
}

samp .cm-method {
    color: #61afef;
}


samp .cm-string {
    color: #98c379;
}

samp .cm-def {
    color: #e06c75;
}

samp .cm-operator {
    color: #c678dd;
}

samp .cm-comment {
    color: #7f848e;
}


/*
 * The animation must use the same steps as the soundwave of the heartbeat.mp3
 * @link https://planetcalc.com/8627/
 */
@keyframes animateHeartbeat {
    0% {
        transform: scale(1);
    }

    13% {
        transform: scale(1.2);
    }

    16% {
        transform: scale(1.16);
    }

    22% {
        transform: scale(1.4);
    }

    26% {
        transform: scale(1);
    }

    38% {
        transform: scale(1.18);
    }

    41% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.14);
    }

    56% {
        transform: scale(1.1);
    }

    76% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes animateOnFirstHeartbeat {
    0% {
        transform: scale(1);
    }

    13% {
        transform: scale(1.2);
    }

    16% {
        transform: scale(1.16);
    }

    22% {
        transform: scale(1.4);
    }

    26% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateOnSecondHeartbeat {
    0% {
        transform: scale(1);
    }

    26% {
        transform: scale(1);
    }

    38% {
        transform: scale(1.18);
    }

    41% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.14);
    }

    56% {
        transform: scale(1.1);
    }

    76% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}














/**
 * premium.html
 */

.premium-blocks {
    width: 80%;
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

@media (max-width: 1200px) {
    .premium-blocks {
        width: 90%;
    }
}


@media (max-width: 1100px) {
    .premium-blocks {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .premium-blocks {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .premium-blocks {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .premium-blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

.premium-blocks .premium-block {
    color: white;
    border-radius: 6px;
    padding: 3px;
    height: 100%;
}

.premium-blocks .premium-block-inner {
    height: calc(100% - 20px);
    background-color: var(--bg-color-dark);
    padding: 10px;
    border-radius: 4px;
    position: relative;
    color: white;
}

.premium-blocks p {
    font-size: 93%;
}

.price-calculator {
    border-radius: 6px;
    padding: 3px;
    width: 80%;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    font-size: 120%;

    background-color: var(--bg-color);
    box-shadow: 0px 0px 12px 8px var(--bg-color);

    margin-bottom: 90px;
}

@media (max-width: 800px) {
    .price-calculator {
        width: 96%;
    }
}

.price-calculator-inner {
    width: 90%;
    margin-left: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 800px) {
    .price-calculator-inner {
        width: 96%;
        margin-left: 2%;
        }
}


.package {
    border-radius: 6px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.package-inner {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 4px;
    position: relative;
}

.package a {
    color: white;
}

.package a:hover {
    text-decoration: underline;
}

.price-calculator h4 {
    margin-top: 0px;
}

.price-calculator .field {
    width: 100%;
    margin-bottom: 30px;
}

.price-calculator .field label {
    vertical-align: top;
    width: 48%;
    text-align: right;
    display: inline-block;
    font-size: 120%;
    margin-top: 4px;
}

.price-calculator .field .input {
    width: 48%;
    text-align: left;
    float: right;
}

@media (max-width: 800px) {
    .price-calculator .field label {
        width: 30%;
    }

    .price-calculator .field .input {
        width: 65%;
    }
}


.price-calculator .field .suffix {
    float: left;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 120%;
}

.price-calculator input,
.price-calculator select {
    padding: 3px;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 120%;
    float: left;
}

.price-calculator hr {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 1px;
}

.price-calculator .packages {
    margin-top: 60px;
}

.price-calculator .package-checkbox {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.price-calculator .package ul li {
    line-height: 150%;
}

.price-calculator #price-calculator-submit {
    margin-right: 0px;
}

.price-calculator input:invalid:required,
.price-calculator select:invalid:required {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

#price-calculator-result {
    font-size: 120%;
}

#price-calculator-result table {
    width: 100%;
    border-spacing: 30px;
}

#price-calculator-result table th {
    text-align: right;
}

#price-calculator-result #total-per-year {
    font-weight: bold;
    border-bottom: double 3px;
}

#price-calculator-result .proceed-hint {
    width: 100%;
    text-align: right;
}

#price-calculator-result a {
    color: white;
}

.premium-faq h2 {
    padding-bottom: 40px;
}

.premium-faq details {
    text-align: left;
    width: 60%;
    padding-bottom: 25px;
    font-size: 120%;
    text-align: justify;
}

@media (max-width: 1050px) {
    .premium-faq details {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .premium-faq details {
        width: 90%;
    }
}

.premium-faq details[open] {
    padding-bottom: 25px;
}

.premium-faq summary {
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.premium-request iframe {
    width: 700px;
    height: 2150px;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    box-shadow: 0px 0px 12px 8px var(--bg-color);
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

@media (max-width: 800px) {
    .premium-request iframe {
        width: 100%;
    }
}
