@import url("variables.css");

/** custom css, see https://help.gitbook.com/content/how-can-i-include-css.html **/
.page-inner {
    max-width: 1000px;
}

.markdown-section a {
    color: #e6008d;
}

/* make header fixed*/
.page-wrapper {
    padding-top: 50px;
}

.book-header {
    position: fixed;
    width   : 100%;
}

/* images and codeblock muse have border radius */
pre,
img {
    border-radius: 4px;
}


.summary li:nth-child(5) .custom-link {
    font-weight  : bold;
    border-style : solid;
    border-width : 2px;
    border-radius: 8px;
    margin       : 22px;
    margin-top   : 10px;
    border-color : #e6008d;
}

/* the gitter button overlayed the next-button on mobile */
@media (max-width: 1150px) {
    .gitter-open-chat-button {
        display: none;
    }
}



/**
 * Make stuff dark like the landingpage
 */
book-summary * {
    color: white !important;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
li {
    color: white;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
    color: white;
}

#book-search-results .search-results .has-results .search-results-item a {
    color: var(--color-middle);
}

.page-wrapper,
.book-summary,
#book-search-input,
.body-inner {
    background-color: var(--bg-color);
}

.book-header {
    background-color: var(--bg-color-dark);
}

code {
    color        : black !important;
    border-radius: 4px;
}

::marker {
    color: white;
}
