root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{js,json,ts}]
charset = utf-8
quote_type = single
spaces_around_brackets = true

[*.json]
indent_size = 2
