test/playground/*
test/tutorials
test_tmp/
tmp/
dist/
package.json
examples/angular
examples/electron
examples/electron-remote
examples/graphql
examples/ionic2
examples/flutter
examples/node
examples/react-native
examples/vanilla
examples/vue
examples/svelte
examples/react/build
examples/supabase/
examples/vite-vanilla-ts
node_modules
docs
docs-src/files/logo/js.build.js
docs-src/_book/
