/* les variables */
:root {
    color-scheme: dark;

    --bg-color            : #1a202c;
    --bg-color-dark       : #171923;
    --fontSizes-xl        : 1.25rem;
    --fontSizes-6xl       : 3.0rem;
    --space-between-blocks: 0px;


    --color-top   : #e6008d;
    --color-middle: #8d2089;
    --color-bottom: #5f2688;
}


/* change the scrollbar to better match the dark layout */
::-webkit-scrollbar {
    height    : 12px;
    width     : 12px;
    background: var(--bg-color-dark);
}

::-webkit-scrollbar-thumb {
    background           : var(--color-top);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow   : 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
