<div id="top-line"></div>
<div class="content">
    <h3>RxDB Heroes Angular2</h3>

    <hero-edit
        *ngIf="editedHero"
        [(hero)]="editedHero"
        (done)="editedHero = undefined"
    ></hero-edit>

    <mat-card>
        <mat-card-subtitle>Heroes</mat-card-subtitle>
        <heroes-list (edit)="editHero($event)"></heroes-list>
    </mat-card>
    <br />
    <mat-card>
        <mat-card-subtitle>Add Hero</mat-card-subtitle>
        <hero-insert></hero-insert>
    </mat-card>
</div>