<form
    autocomplete="off"
    class="hero-insert-component"
>
    <mat-form-field>
        <input
            matInput
            #input
            [(ngModel)]="name"
            [autofocus]="true"
            name="name"
            placeholder="Name"
        />
    </mat-form-field>
    <br />
    <mat-form-field>
        <input
            matInput
            [(ngModel)]="color"
            name="color"
            placeholder="Color"
        />
    </mat-form-field>
    <br />
    <button
        mat-raised-button
        color="primary"
        (click)=submit()
    >insert</button>
</form>
