/* les variables */
:root {
    --bg-color            : #1a202c;
    --bg-color-dark       : #171923;
    --fontSizes-xl        : 1.25rem;
    --fontSizes-6xl       : 3.0rem;
    --space-between-blocks: 0px;


    --color-top   : #e6008d;
    --color-middle: #8d2089;
    --color-bottom: #5f2688;
}

/** reset some defaults **/
body,
html {
    margin : 0;
    padding: 0;
}


/* helper classses */
.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.half {
    width        : calc(50% - 20px);
    padding-left : 10px;
    padding-right: 10px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.centered {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.pseudo-hidden {
    display : block;
    width   : 1px;
    height  : 1px;
    overflow: hidden;
}

/*
 * Every element with this class
 * is made beating via javascript
 */
.beating.animation {
    animation: animateHeartbeat;
}



body {
    background-color: var(--bg-color);

    /** font **/
    color      : white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    z-index         : 10;
    background-color: var(--bg-color);
    position        : fixed;
    display         : block;
    height          : 60px;
    padding-top     : 22px;
    padding-bottom  : 22px;
    width           : 90%;
    padding-left    : 5%;
    padding-right   : 5%;
}

header a {
    text-decoration: none;
    color          : #a0aec0;
}

header a:hover {
    color: white;
}

header .logo {
    float: left;
}

header .logo {
    color          : white;
    font-weight    : bold;
    text-decoration: none;
}

header a:hover .logo .text {
    text-decoration: underline;
}


header .text {
    padding-top  : 20px;
    float        : left;
    padding-right: 15px;
}

header .logo .text {
    font-size  : var(--fontSizes-xl);
    padding-top: 18px;
    color      : white;
}

header .logo img {
    height: 100%;
    float : left;
}

.header-space {
    width : 100%;
    height: calc(var(--space-between-blocks) + 110px);
}



.content {
    width       : 100%;
    max-width   : 1248px;
    margin-left : auto;
    margin-right: auto;
}



.block {
    width         : 100%;
    height        : 450px;
    padding-top   : 80px;
    padding-bottom: 100px;
}

.block.dark {
    background-color: var(--bg-color-dark);
}


.block.first .inner {
    width: 60%;
}

.block.first .text {
    font-size  : var(--fontSizes-6xl);
    font-weight: 600;
    text-align : right;
}

.block.first .text b {
    color: var(--color-top);
}


.block.second .smartphone {
    width            : 200px;
    height           : 200px;
    background-repeat: no-repeat;
    background-size  : contain;
    background-image : url(./files/smartphone/tablet_white.svg);
}

.block.second .smartphone #smartphone-color {
    position        : absolute;
    width           : 130px;
    height          : 153px;
    background-color: #e6008d;
    margin-top      : 15px;
    margin-left     : 35px;
    border-radius   : 4px;
}










/*
 * The animation must use the same steps as the soundwave of the heartbeat.mp3
 * @link https://planetcalc.com/8627/
 */
@keyframes animateHeartbeat {
    0% {
        transform: scale(1);
    }

    13% {
        transform: scale(1.2);
    }

    16% {
        transform: scale(1.16);
    }

    22% {
        transform: scale(1.4);
    }

    26% {
        transform: scale(1);
    }

    38% {
        transform: scale(1.18);
    }

    41% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.16);
    }

    56% {
        transform: scale(1.1);
    }

    76% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}
