# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/rxdb-local.tgz

# expo
.expo/
dist/
npm-debug.*
yarn-debug.log*
yarn-error.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# jest
.jest/

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
