<div class="loading" *ngIf="!heroes" class="hero-list-component">
    <md-spinner class="app-spinner"></md-spinner>
</div>

<md-list *ngIf="heroes" class="hero-list-component">
    <md-list-item *ngFor="let hero of heroes" class="listHero">
        <div class="color-box" [style.background-color]="hero.color"></div>
        <div class="name">
          {{hero.name}}
          <div class="life">
            <div class="currentPercent" [style.width]="hero.hpPercent() + '%'"></div>
          </div>
        </div>
        <div class="actions">
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editHero(hero)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteHero(hero)"></i>
        </div>
    </md-list-item>
</md-list>
