@import url("variables.css");

/** custom css, see https://help.gitbook.com/content/how-can-i-include-css.html **/
.page-inner {
    max-width: 1000px;
}

.markdown-section a {
    color: #e6008d;
}

/* make header fixed*/
.page-wrapper {
    padding-top: 50px;
}

.book-header {
    position: fixed;
    width: 100%;
}

/* images and codeblock muse have border radius */
pre,
img {
    border-radius: 4px;
}

/* images must have white background so transparent svg images a readable */
img {
    background-color: white;
}

.book-summary {
    overflow-x: hidden;
}

.book-summary img {
    background-color: transparent;
    width: 90%;
}

.book-summary .custom-link[href="/"] {
    background-image: url(/files/logo/logo_text.svg);
    background-size: contain;
    display: inline-block;
    height: 120px;
    width: 90%;
    margin-left: 30px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    font-size: 0;
}

.img-padding {
    padding: 7px;
}

/* the gitter button overlaid the next-button on mobile */
@media (max-width: 1150px) {
    .gitter-open-chat-button {
        display: none;
    }
}



/**
 * Make stuff dark like the landingpage
 */
book-summary * {
    color: white !important;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
li {
    color: white;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
    color: white;
}

#book-search-results .search-results .has-results .search-results-item a {
    color: var(--color-middle);
}

.page-wrapper,
.book-summary,
#book-search-input,
.body-inner {
    background-color: var(--bg-color);
}

.book-header {
    background-color: var(--bg-color-dark);
}

code {
    color: black !important;
    border-radius: 4px;
}

::marker {
    color: white;
}




/* details blocks */
details {
    color: white !important;
}

details[open] {
    padding-bottom: 25px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 130%;
}

details summary:hover {
    text-decoration: underline;
}


/* remove the broken font-setttings icon */
.book-header .font-settings {
    display: none;
}


#rxdb-call-to-action-button {
    background-color: var(--color-top);
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    border-radius: 7px;
    height: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

#rxdb-call-to-action-button:hover {
    text-decoration: underline;
    box-shadow: 2px 2px 13px #ca007c, -2px -1px 14px #ff009e;
}
