html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #f0f0f0;
	color: #333;
	margin: 50px 0 0 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
