@if (!emittedFirst) {
<div class="loading" class="hero-list-component">
  <mat-spinner class="app-spinner"></mat-spinner>
</div>
}
<mat-list class="hero-list-component">
  @for (hero of heroes$ | async; track hero.name; let i = $index; let last = $last) {
    <mat-list-item>
      <div class="listHero">
        @if (!last) {
          <mat-divider></mat-divider>
        }
        <div class="color-box" [style.background-color]="hero.color"></div>
        <div class="name">
          {{ hero.name }}
          <div class="life">
            <div
                class="currentPercent"
                [style.width]="hero.hpPercent() + '%'"
            ></div>
          </div>
        </div>
          <div class="actions">
            <button
                mat-mini-fab
                color="primary"
                aria-label="edit hero"
                class="edit-button"
                (click)="editHero(hero)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
                mat-mini-fab
                color="primary"
                aria-label="delete hero"
                class="delete-button"
                (click)="deleteHero(hero)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
      </div>
    </mat-list-item>
  }
  <div>Count: {{ heroCount$$() }}</div>
</mat-list>
